__pycache__/
*.py[cod]
venv/
*.mkv
*.wav
*.mp3
*.mp4
*.flac
goal_data/
soccer_finetune_dataset/
soccernet_data/
soccernet_audio/
whisper_soccer_finetuned/
hf_cache/
*.bin
*.safetensors
*_output_*.log
*_error_*.log
slurm-*.out
.DS_Store
.vscode/
.idea/
